$pale-neutral: #f7f0e0;
//background of header and footer

$grey-neutral: #8c887a;
//hovering back to top
//hovering button border

$main-neutral-translucent: #d4c6a8a1;
//button bg color
$main-neutral: #d4c6a8;
//button bg color hover

$near-white: #f1f1f1;
//modal bg color

$bg-grey: rgba(49,49,49,0.8);
//modal overlay