@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Philosopher&display=swap');

.card {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  //width: 400px;
  margin: 5px;
  //min-width: 200px;

  font-family: 'Mulish', sans-serif;
  text-align: center;

  &:hover {
    background-color: lightgray;
  }

  & h3 {
    font-family: 'Philosopher', sans-serif;
  }
}

.padding {
  padding: 5px;
}

.card_frame {
  display: flex;
  align-items: center;
  justify-content: center;

  //border: 1px solid red;
  //min-width: 200px;
}