@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Philosopher&display=swap');

.card {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  margin: 5px;

  font-family: 'Mulish', sans-serif;
  text-align: center;

  &:hover {
    background-color: lightgray;
  }

  & h3 {
    font-family: 'Philosopher', sans-serif;
  }
}

.padding {
  padding: 5px;
}

.image {
  max-width: 160px;
  padding: 5px;
}

.card_frame {
  display: flex;
  align-items: center;
  justify-content: center;

}