@use "src/styles/palette.scss";
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Philosopher&display=swap');

.container {
  
  background-color: palette.$pale-neutral;

  background-image: url("../../assets/blurred-neutral-stripes.png");
  background-size: cover;
  min-height: 250px;
  max-height: 3030px;

  font-family: 'Mulish', sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-content: flex-end;

  padding: 1rem;

  & h1 {
    font-family: 'Philosopher', sans-serif;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 20px;
  }

  .container {
    height: auto;
  }
}