@use "src/styles/palette.scss";

.container {
  
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.books_section {
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  width: 98vw;
}

.to_top {
  text-decoration: underline;
  
  &:hover {
    color: palette.$grey-neutral;
  }
}