@use "src/styles/palette.scss";

:root {
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: palette.$main-neutral-translucent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
  border-color: palette.$grey-neutral;
  background-color: palette.$main-neutral-translucent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.active_modal {
  overflow-y: hidden;
}